{% case block.type %}
  {% when 'richtext' %}
    <div class="footer-block-content text-white/90">
      {{ block.settings.description }}
    </div>
    {% if block.settings.btn_primary_text != blank %}
      <div class="mt-4">
        <a href="{{ block.settings.btn_primary_url }}" class="{{ block.settings.btn_primary_color }} btn">
          {{ block.settings.btn_primary_text }}
        </a>
      </div>
    {% endif %}
    {% if block.settings.btn_secondary_text != blank %}
      <div class="mt-2">
        <a href="{{ block.settings.btn_secondary_url }}" class="{{ block.settings.btn_secondary_color }} btn">
          {{ block.settings.btn_secondary_text }}
        </a>
      </div>
    {% endif %}

  {% when 'menu' %}
    <ul class="space-y-3">
      {% for link in linklists[block.settings.menu].links %}
        <li>
          <a 
            href="{{ link.url }}" 
            class="text-white/90 hover:text-white transition-colors inline-block"
          >
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

  {% when 'contact' %}
    <ul class="space-y-3">
      <li class="text-white/90">
        <a href="mailto:{{ block.settings.email }}" class="hover:text-white transition-colors">
          {{ block.settings.email }}
        </a>
      </li>
      <li class="text-white/90">
        <a href="tel:{{ block.settings.phone | replace: ' ', '' | replace: '-', '' | replace: '(', '' | replace: ')', '' }}" class="hover:text-white transition-colors">
          {{ block.settings.phone }}
        </a>
      </li>
      <li class="text-white/90">{{ block.settings.address }}</li>
    </ul>
{% endcase %}