<div
  id="newsletter-{{ section.id }}" 
  class="
    newsletter text-center 
    {{ section.settings.bg_color }} 
    {{ section.settings.bg_gradient }} 
    {{ section.settings.text_color }} 
    {{ section.settings.border_top_width | prepend: 'border-top-' }} 
    {{ section.settings.border_bottom_width | prepend: 'border-bottom-' }} 
    {{ section.settings.border_color }} 
    {{ section.settings.pt | prepend: 'pt-' }} 
    {{ section.settings.pb | prepend: 'pb-' }}"
  style="
    --bs-bg-opacity: {{ section.settings.bg_opacity | append: '%' }}; 
    --bs-border-opacity: {{ section.settings.border_opacity | append: '%' }};">
  
  <div class="container" style="max-width: 600px;">
    
    <div class="mb-5">
      <h2 class="fw-bold display-6 mb-2">{{ section.settings.header_title }}</h2>
      <div class="text-muted fs-5">{{ section.settings.header_description }}</div>
    </div>

    {% form 'customer', class: 'newsletter-form' %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        <p class="alert alert-success mt-3">{{ 'general.newsletter.confirmation_text' | t }}</p>
      {% endif %}

      <div class="input-group input-group-lg shadow-sm">
        <input 
          id="newsletter-input-email"
          type="email" 
          name="contact[email]" 
          class="form-control rounded-start border border-secondary-subtle"
          value="{% if customer.email != blank %}{{ customer.email }}{% endif %}" 
          placeholder="{{ 'general.newsletter.input_label' | t }}"
          autocorrect="off" 
          autocapitalize="off"
          required>
        <button 
          class="btn {{ section.settings.btn_color }} {{ section.settings.btn_size }} rounded-end px-4"
          type="submit"
          name="commit"
          aria-label="{{ 'general.newsletter.submit_button' | t }}">
          {{ 'general.newsletter.submit_button' | t }}
        </button>
      </div>

      {% unless section.settings.notice == blank %}
        <div class="newsletter-notice text-muted small mt-3 opacity-75">
          {{ section.settings.notice }}
        </div>
      {% endunless %}
    {% endform %}
  </div>
</div>
